<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Pridėti Automobilį{% endblock %}

{% block content %}
<h1>Pridėti Naują Automobilį</h1>
<form action="/prideti" method="post">
    <label>Gamintojas:</label>
    <input type="text" name="gamintojas" required><br>

    <label>Modelis:</label>
    <input type="text" name="modelis" required><br>

    <label>Spalva:</label>
    <input type="text" name="spalva" required><br>

    <label>Metai:</label>
    <input type="number" name="metai" required><br>

    <label>Kaina:</label>
    <input type="number" step="0.01" name="kaina" required><br>

    <button type="submit">Pridėti</button>
</form>

{% endblock %}
